<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %></title>
  

  <header>
    <div class="container">           
      <div class="text-center">
          <div ><a class="logo"><span>.</span>Memeth<span>.</span></a></div>
      </div>           
    </div>
    <div class="navbar wrap">
      <a href="/product-list/create">Ajouter un produit</a>
    </div>
  </header>